* {
    margin: 0;
    padding: 0;
}

form {
    padding: 20px;
}

input:not(:first-child) {
    margin-left: 20px;
}

.cuadros {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cuadro {
    border: 1px solid black;
    margin: 10px;
}